@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');


 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

:root {
   --yellow: hsl(47, 88%,63%);
   --white: hsl(40, 0%, 100%);
   --gray: hsl(0,0%,50%);
   --black: hsl(0,0%,0%);
}

body {
    background-color: var(--yellow);
    min-height: 100vh;
    font-family: 'Figtree', Arial, Helvetica, sans-serif;
    display: grid;
    place-content: center;
}

img {
    width: 100%;
    display: block;
}

.card {
    background-color: var(--white);
    max-width: 400px;
    padding: 1.5rem;
    margin: 1rem;
    position: relative;
    border-radius: 1rem;
    outline: 1px solid black;
    box-shadow: 15px 15px 0 black;
}

.card img {
    border-radius: 1rem;
}

.card .learning {
    background-color: var(--yellow);
    width: min-content;
    padding: .5rem;
    margin-top: 1.5rem;
    font-weight: 800;
    border-radius: .5rem;
}

.card .date {
    margin-top: 1rem;
}

.card h1 {
    margin: 1rem;
}

.card h1 a {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1;
}


.card h1 a:hover {
    color: var(--yellow);
}

.card .description{
    color: var(--gray);
    line-height: 1.5;
}

.card .author {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.card .author img {
    width: 30px;
}

.card .author .name {
    font-weight: 800;
}

/* Media Query */

@media (max-width:375px) {

    .card a h1 {
        font-size: 1.25rem;
    }
}